.project
.classpath
.settings/
war/WEB-INF/appengine-generated/
war/WEB-INF/classes/
war/WEB-INF/lib/appengine-*.jar
war/WEB-INF/lib/asm-*.jar
war/WEB-INF/lib/datanucleus-*.jar
war/WEB-INF/lib/geronimo-*.jar
war/WEB-INF/lib/jdo-api-*.jar
war/WEB-INF/lib/jta-*.jar
target/